/* General UI */
.ui.card {
  padding: 1em;
}

h1.ui.header {
  /* The semantic sheet is a thorn in my side */
  margin: 1em 0 0 0 !important;
}

h3.ui.header {
  color: #888888;
  font-weight: 300;
  margin-top: 0;
}

/* For the App Grid */
#apps {
  width: 100%;
}

#apps .header {
  padding-bottom: 1em;
}

#apps .row {
  text-align: center;
  line-height: 2.5rem;
}

#apps a.five.wide.column {
  flex-direction: row;
}

#apps i.large.icon {
  flex-grow: 0;
  align-self: center;
}