/* General UI */
.ui.card {
  padding: 1em;
}

h1.ui.header {
  margin: 1.5em 0 !important;
}

/* For the App Grid */
#apps {
  width: 100%;
}

#apps .header {
  padding-bottom: 1em;
}

#apps .row {
  text-align: center;
  line-height: 2.5rem;
}

#apps a.five.wide.column {
  flex-direction: row;
}

#apps i.large.icon {
  flex-grow: 0;
  align-self: center;
}